<v-container id="inspire" grid-list-xl>
    <v-layout row wrap>
        <v-flex xs12 sm6>
            <v-overflow-btn v-model="year" label='年' :items="selectYear" @change="getAnime"></v-overflow-btn>
        </v-flex>
        <v-flex xs12 sm6>
            <v-overflow-btn v-model="season" label='クール（季節）' :items="selectSeason" @change="getAnime"></v-overflow-btn>
        </v-flex>
    </v-layout>
    <v-layout v-if="animes.length" row wrap>
        <v-flex lg4 sm12 xs12 v-for="anime in animes">
            <v-card raised tile class="grey lighten-3 ma-2">
                <v-card-title primary-title>
                    <div>
                        <div class="headline">
                            {{ anime.title }}
                        </div>
                        <div>
                            #{{ anime.twitter_hash_tag }}
                        </div>
                    </div>
                </v-card-title>
                <v-divider light></v-divider>
                <v-card-actions class="pa-3">
                    <v-btn outline color="indigo">
                        <a v-bind:href="anime.public_url">
                            公式
                        </a>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn outline color="indigo">
                        <a v-bind:href="'https://twitter.com/' + anime.twitter_account">
                            Twitter
                        </a>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>
